<configuration>

  <appender name="LOG" class="ch.qos.logback.core.ConsoleAppender">
<!--   <appender name="LOG" class="ch.qos.logback.core.FileAppender"> -->
<!--     <file>gnaf-lucene.log</file> -->
    <encoder>
      <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
    </encoder>
  </appender>

  <logger name="au.csiro.data61.gnaf.lucene" level="DEBUG" />
  
  <root level="INFO">
    <appender-ref ref="LOG" />
  </root>
</configuration>
