body {
  font-family: verdana, helvetica, arial, sans-serif;
  font-size: 14px;
  color: #404040;
}

h1, h2, h3, h4, .ui-tabs-nav .ui-state-active a {
  color: #98bf21;
}

/* .example { */
/*   padding-left: 10px; */
/*   font-size: small;	 */
/* } */

.label, label {
  color: #98bf21;
  font-weight: bold;
  margin-right: 5px;
  vertical-align: top;
}

.example {
  padding-left: 10px;
  font-size: small;	
  vertical-align: top;
}

.multi-line {
  display: inline-block;
}

#bulkLookup .header a {
  margin-left: 10px;
}

#bulkAddresses {
  height: 250px;
  width: 500px;
}


/* .error { */
/*   color: red; */
/*   margin-top: 15px; */
/*   font-family: monospace; */
/*   white-space: pre; */
/* } */

button {
  color: white;
  background-color: #98bf21;
  border: 1px outset #98bf21;
  margin-top: 10px;
  font-weight: bold;
}

table {
  border: 1px solid #98bf21;
  border-collapse: collapse;
  margin-top: 5px;
}

tr:nth-child(odd) {
  background: #EAF2D3;
}

th {
  text-align: center;
  padding: 3px 3px 3px 3px;
  background-color: #A7C942;
  color: white;
}

td {
  vertical-align: top;
  border: 1px solid #98bf21;
  padding: 2px 5px 2px 5px;
}

div.location {
  margin-bottom: 10px;
}

div.location a, #addressNearMe .refresh, .contribStatus .delete {
  margin-left: 5px;
}

#addressInput {
  width: 500px;
}

#addressLookupResult, #addressNearMeResult, #bulkResult, .addrType, .gnafGeocodes, .contribGeocodes {
  margin-top: 15px;
}

.contribStatus a {
	
}
.contribGeocodes .add input {
  width: 150px;
}

.contribGeocodes .geocodeTypeCode select {
  width: 500px;
}

.showGeoDetail {
  margin-left: 10px;
}

#streetFilter, #address {
  width: 300px;
}

