body {
  font-family: verdana, helvetica, arial, sans-serif;
  font-size: 14px;
  color: #404040;
}

h1, h2, h3, h4 {
  color: #98bf21;
}

#search {
  margin-left: 10px;
}

#searchForm button {
  margin-top: 30px;
}

#searchResult {
  margin-top: 10px;
}

.label, label {
  color: #98bf21;
  font-weight: bold;
}

.error {
  color: red;
  margin-top: 15px;
  font-family: monospace;
  white-space: pre;
}

button {
  color: white;
  background-color: #98bf21;
  border: 1px outset #98bf21;
  margin-top: 10px;
  font-weight: bold;
}

#searchForm textarea {
  width: 800px;
  height: 4em;
  padding: 2px;
  display: block;
}

.stats {
  font-size: small;
}

table {
  border: 1px solid #98bf21;
  border-collapse: collapse;
  margin-top: 5px;
}

tr:nth-child(odd) {
  background: #EAF2D3;
}

th {
  text-align: center;
  padding: 3px 3px 3px 3px;
  background-color: #A7C942;
  color: white;
}

td {
  vertical-align: top;
  border: 1px solid #98bf21;
  padding: 2px 5px 2px 5px;
}
